@import "../../../../styles/variables";

.section__size {
    position: absolute;
    right: 7.0139vw;
    display: flex;
    align-items: center;
    gap: 15px;
}

.ascendent {
    padding: 3px;
    color: #E7833D;
    font-family: $principal-font;
    font-size: 14px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.ascendent:hover {
    cursor: pointer;
}

.ascendent img {
    margin-top: -3px;
}

.section__list-container {
    margin-top: 50px;
    max-height: 400px;
    overflow-y: scroll;
  }
  

.text__create {
    display: inline-block;
    position: sticky;
    top: 370px;
    left: 55vw;
}

.section__pagination {
    margin:10px 7.0139vw 0 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 55px;
}

.second__button {
    position: absolute;
    bottom: 40px;
    right: 7.0139vw;
}
