<a class="item__container" routerLink="{{route}}"
routerLinkActive="item__container-active">
        <img class="item__icon" [src]="src" [alt]="alt" width="16px" height="16px">
        <h6 class="item__title">{{title}}</h6>
</a>

    