@import "../../../../styles/variables";

:host {
    display: flex;
    width: 100%;
}

.item__container {
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    height: 51px;
    border-radius: 11px;
    padding-left: 6.94vw;
}

.item__title {
    margin-left: 16px;
    font-size: 21px;
    font-weight:300;
    font-family: $principal-font;
    color: $primary-color;
}

.item__container-active {
    background-color: rgba($primary-color, 0.4);

    .item__title {
        font-weight: 600;
    }
}

    

