.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(#864212, 0.17); 
  z-index: 999;
}

.modal {
  width: 44.7917vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 25px;
  z-index: 1000;
}

.modal__content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}