<div class="modal__backdrop" (click)="close()" *ngIf="showModal"></div>
<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <app-modal-header [title]="title" (closeModal)="close()"></app-modal-header>
    <app-form [formFields]="formFields"></app-form>
  </div>
</div>