<input #searchInput type="text" matInput [formControl]="searchControl"
 [matAutocomplete]="auto" placeholder="{{placeholder}}" class="form__input">
<img class="input__add" src="./assets/img/icon-add.svg" alt="Añadir" (click)="onAddClick()">
<mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event.option.value)">
  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
    {{ option[entityPropertyMap[entity].name] }}
  </mat-option>
</mat-autocomplete>


