@import "../../../../styles/variables";

.form__input {
    width: 100%;
    height: 40px;
    padding: 4px 4px 4px 15px;
    border-radius: 9999px;
    border: 1px solid $primary-color;
    background-color: rgba($primary-color, 0.08);
    font-weight: 300;
}

.form__input:hover {
    box-shadow: 0 0 13px #6237d6;
    cursor: pointer;
}

.form__input:focus {
    outline: none;
}

.form__input:focus::placeholder {
    color: purple;
}

.input__add {
    position: absolute;
    right: 2.7778vw;
    transform: translateY(11%);
}