@import "../../../../styles/variables";

:host {
    width: 72.78vw;
    position: absolute;
    right: 0;
    top: 0;
}

.container {
    background-color: rgba($primary-color, 0.7);
    border-radius: 0 0 24px 0;
    height: 70px;
    width: 72.78vw;
    padding: 0 7.6891vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}