<div class="pagination">
    <img class="arrow" src="./assets/img/arrow-left.svg" alt="Flecha izquierda"
    *ngIf="currentPage !== 1" (click)="turnBackPage()">
    <div *ngFor="let item of items" (click)="selectPage(item)"
    [ngClass]="{'current-page' :item === currentPage,
                'page' :item !== '...'}">
        <span>{{item}}</span>
    </div>
    <img class="arrow" src="./assets/img/arrow-right.svg" alt="Flecha derecha"
    *ngIf="currentPage !== totalPages" (click)="turnNextPage()">
</div>
