@import "../../../../styles/variables";

.pagination {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    color: #828285;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $principal-font;
    border-radius: 30px;
    font-size: 14px;
}

.page:hover, .arrow:hover {
    cursor: pointer;
}

.current-page {
    width: 26px;
    height: 26px;
    background-color: #E7833D;
    box-shadow: 0px 0px 6px 0px #FFBD8F inset;
    box-shadow: 0px 5px 10px 0px #E7833D99;
    color: #ffffff;
}
