@import "../../../../styles/variables";

:host {
    display: inline-block;
}

.item__container {
    display: flex;
    text-align: center;
    text-decoration: none;
    flex-direction: column;
    margin-top: 117px;
}

.text__container {
    padding: 0.5556vw 1.1111vw 1.3889vw 1.1111vw;
}

.item__text {
    font-family: $principal-font;
    font-size: 1.11vw;
    font-weight: 300;
    color: $primary-color;
    display: inline;
}

.item__container-active {
    
    .item__text{
        font-weight: 600;
    }

    .hr__container {
        box-shadow: 0px -4px 20px 0px rgba($primary-color, 0.8);
    }
}