<a class="item__container" routerLink="{{route}}"
routerLinkActive="item__container-active">
    <div class="text__container">
        <p class="item__text">{{text}}</p>
    </div>
    <div class="hr__container">
        <app-hr-underline class="item__underline"></app-hr-underline>
    </div>    
</a>
