@import "../../../../styles/variables";

.dropbtn {
    background-color: #fff;
    font-family: $principal-font;
    color: #E7833D;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  
  .arrow-icon {
    width: 16px;
    height: 16px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    font-family: $principal-font;
    border-radius: 16px;
    border: 1px solid #E7833D;
    display: none;
    position: absolute;
    background-color: #FDF1E9;
    box-shadow: 0px 12px 24px 0px #E7833D66;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #E7833D;
    font-size: 14px;
    font-weight: 300;
    padding: 9px 9px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #eba36f;
    color: white;
    cursor: pointer;
  }
  
  .show {
    display: block;
  }
  
  .dropdown-content a.active {
    background-color: #E7833D;
    color: white;
  }

  .dropdown-content a.active:first-of-type {
    border-radius: 16px 16px 0 0;
  }

  .dropdown-content a:hover:first-of-type {
    border-radius: 16px 16px 0 0;
  }

  .dropdown-content a.active:last-of-type {
    border-radius: 0 0 16px 16px;
  }

  .dropdown-content a:hover:last-of-type {
    border-radius: 0 0 16px 16px;
  }
