<div class="dropdown">
    <button class="dropbtn" (click)="toggleDropdown()">
      Ordenar por {{ optionSelected }} 
      <img src="./assets/img/arrow-bottom.svg" alt="Arrow Down" class="Flecha abajo">
    </button>
    <div id="dropdownContent" class="dropdown-content" [class.show]="dropdownOpen">
      <a *ngFor="let option of options" (click)="setOption(option)"
      [class.active]="option === optionSelected"
      >Ordenar por {{ option }}</a>
    </div>
</div>
