<section class="section__size" *ngIf="data.length !== 0">
    <a class="ascendent" (click)="changeAscendent()">
        <img *ngIf="ascendent === true" src="./assets/img/arrow-up.svg" alt="Flecha arriba" width="14px" height="14px">
        <img *ngIf="ascendent === false" src="./assets/img/arrow-down.svg" alt="Flecha abajo" width="14px" height="14px">
    </a>
    <app-order-by [options]="orderOptions" (optionSelectedChange)="changeOrder($event)">
    </app-order-by>
    <app-select-size (pageSizeChange)="changePageSize($event)"></app-select-size>
</section>

<section class="section__list-container" #listContainer>
    <app-list-container [data]="data" [entity]="'capacity'"></app-list-container>
</section>

<app-text *ngIf="data.length == 0" class="text__create" [class]="'tertiary'" 
[text]="'Crea una capacidad'"></app-text>

<section class="section__pagination" *ngIf="data.length !== 0">
    <app-button class="primary" [text]="'Crear'"
    [iconSrc]="'./assets/img/icon-plus.svg'"  (click)="openModal()">
    </app-button>
    <app-paginator [currentPage]="currentPage + 1" [totalPages]="totalPages"
    (changePage)="changePage($event)">
    </app-paginator>
</section>

<app-button class="primary second__button" [text]="'Crear'" *ngIf="data.length == 0"
    [iconSrc]="'./assets/img/icon-plus.svg'"  (click)="openModal()">
</app-button>

<app-modal-create 
[title]="'Crear capacidad'"
[showModal]="showModal"
[formFields]="formFiedls" 
(closeModal)="closeModal()">
</app-modal-create>

<app-modal-message (closeModal)="closeModal()" (createdEntity)="getCapacities()">
</app-modal-message>

