@import "../../../../styles/variables";

:host-context(.item__container-active) .hr__underline {
    height: 5px;
    margin-top: -2px;
    border-radius: 10px;
}


.hr__underline {
    width: 100%;
    height: 1px;
    border: none;
    background-color: $primary-color;
    margin: 0;
}
