<div class="dropdown">
    <button class="dropbtn" (click)="toggleDropdown()">
      {{ pageSize }} por página
      <img src="./assets/img/arrow-bottom.svg" alt="Arrow Down" class="Flecha abajo">
    </button>
    <div id="dropdownContent" class="dropdown-content" [class.show]="dropdownOpen">
      <a *ngFor="let size of pageSizes" (click)="setPageSize(size)"
      [class.active]="size === pageSize"
      >{{ size }} por página</a>
    </div>
</div>