@import "../../../../styles/variables";

.text {
    margin: 0;
    font-family: $principal-font;
}

.primary {
    font-size: 1.8056vw;
    font-weight: 650;
    line-height: 31.2px;
    color: #1D1D1B;
}

.secondary {
    font-size: 1.1111vw;
    font-weight: 300;
    color: #141413;
}

.tertiary {
    font-size: 1.4583vw;
    font-weight: 500;
    color: $primary-color;
    line-height: 25.2px;
}

.button__text {
    font-size: 1.1111vw;
    font-weight:500;
    line-height: 19.2px;
}

.modal__title {
    font-size: 1.8056vw;
    font-weight: 600;
    line-height: 34px;
    color: $primary-color;
}

.modal__message {
    font-size: 2.0833vw;
    font-weight: 300;
    line-height: 45px;
    color: #141413;
}

