<div class="header__container">
    <app-text [class]="'modal__title'" [text]="title"></app-text>
    <img class="header__logo" src="./assets/img/icon-close-orange.svg" alt="Icono cerrar" (click)="close()">
</div>
