@import "../../../../styles/variables";

.form {
    padding: 24px 2.5vw 34px 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.form__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.form__label {
    color: $primary-color;
    font-weight: 600;
}

.form__input {
    width: 100%;
    height: 40px;
    padding: 4px 4px 4px 15px;
    border-radius: 9999px;
    border: 1px solid $primary-color;
    background-color: rgba($primary-color, 0.08);
    font-weight: 300;
}

.form__input:hover {
    box-shadow: 0 0 13px #6237d6;
    cursor: pointer;
}

.form__input:focus {
    outline: none;
}

.form__input:focus::placeholder {
    color: purple;
}

.form__label, .form__input {
    font-family: $principal-font;
    font-size: .9722vw;
    line-height: 19.6px;
} 

.form__error {
    font-size: .9722vw;
    font-family: $principal-font;
    color: red;
}

.form__button {
    margin: auto;
}

.ng-invalid.ng-touched {
    border-color: red;
}

.input__container {
    width: 100%;
}

.input__add {
    position: absolute;
    right: 2.7778vw;
    transform: translateY(11%);
}

.input__add:hover {
    cursor: pointer;
    filter: invert(30%);
}

.item__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    flex-direction: row;
    gap: 10px; 
}

.array__item {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    align-items: center;
    height: 40px;
    margin-bottom: 10px;
    padding: 0 10px;
    background-color: rgba($primary-color, 0.7);
    border-radius: 40px;
    font-family: $principal-font;
    font-size: 12px;
    color: white;
}

.array__item img {
    height: 12px;
}

.array__item p {
    margin: 0;
}

.array__item:hover {
    cursor: pointer;
    background-color: rgba($primary-color, 0.3);
}
