<form class="form" (ngSubmit)="onSubmit()">
    <div *ngIf="errorMessage !== ''">{{errorMessage}}</div>
    <div class="form__container" *ngFor="let field of formFields[1]">
        <label class="form__label" [for]="field.id">{{ field.label }}</label>
        <div *ngIf="errorStates[field.id]" class="form__error">{{ errorInputMessages[field.id] }}</div>
            <div class="input__container">

                <input class="form__input" [id]="field.id" [type]="field.type"
                *ngIf="field.type !== 'array'" [placeholder]="field.placeholder"
                [required]="field.validations?.required" [(ngModel)]="formData[field.id]"
                [name]="field.id" (blur)="isFieldInvalid(field.id)">

                <div class="item__list" *ngIf="field.type === 'array'">
                    <div class="array__item" *ngFor="let item of arrayName; let i = index"
                    (click)="deleteItem(i)">
                        <p>{{item}}</p>
                        <img src="./assets/img/icon-close-white.svg" alt="Eliminar">
                    </div>
                </div>
                <app-search-bar *ngIf="field.type === 'array'" 
                [entity]="entityInput" [placeholder]="field.placeholder" 
                (valueSelected)="add($event)"></app-search-bar>
            </div>    
    </div>
    <app-button class="form__button primary" [text]="'Crear'"
    [disabled]="isFormInvalid()"></app-button>
</form>
