<app-navlibrary-item [text]="'Tecnologías'" [route]="'/library/technologies'"></app-navlibrary-item>
<app-navlibrary-item [text]="'Capacidades'" [route]="'/library/capacities'"></app-navlibrary-item>
<app-navlibrary-item [text]="'Bootcamps'" [route]="'/library/bootcamps'"></app-navlibrary-item>
