@import "../../../../styles/variables";

:host {
    display: inline-block;
}

.primary {
    background-color: $primary-color;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 9999px;
    padding: 10.4px 24px;
    color: #F6F7FC;
    gap: 10px;
}

.button__icon {
    width: 1.1111vw;
    height: 1.111vw;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
    
}

:host:hover button:disabled {
    box-shadow: none;
}

:host:hover .primary{
    box-shadow: 0 0 13px #6237d6;
}