<button class="{{class}}" [disabled]="disabled">
    <img *ngIf="iconSrc !== ''" class="button__icon" src="{{iconSrc}}"
    alt="Icono de sumar">
    <app-text [class]="'button__text'" [text]="text"></app-text>
</button>
