.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(#864212, 0.17); 
  z-index: 999;
}
  
.modal {
  width: 27.3611vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 1000;
  border-radius: 25px;
}
  
.modal__content {
  background-color: white;
  padding: 32px 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  border-radius: 25px;
}

.button__close {
  cursor: pointer;
  position: absolute;
  right: 23px;
  top: 32px;
}
