<div class="modal__backdrop" (click)="close()" *ngIf="message !== ''"></div>
<div class="modal" *ngIf="message !== ''">
  <div class="modal__content">
    <img src="{{src}}" alt="{{alt}}">
    <img class="button__close" src="./assets/img/icon-close-orange.svg" alt="Icono de cerrar" (click)="close()">
    <app-text [class]="'modal__message'" [text]="message"></app-text>
    <app-button class="primary button__accept" [text]="'Aceptar'" (click)="close()"></app-button>
  </div>
</div>
