.item__container {
    width: 100%;
}

.item__text {
    margin-left: .7638vw;
    display: block;
}

.item__title {
    margin-top: 15px;
}

.item__description {
    margin-bottom: 10px;
    margin-top: 2px;
}