<div class="item__container">
    <app-text class="item__text item__title" [class]="'primary'"
     [text]="title"></app-text>
    <app-text class="item__text item__description" [class]="'secondary'"
     [text]="description"></app-text>
    <app-hr-underline class="item__underline"></app-hr-underline>
</div>
