* {
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

html, body {
    height: 100%;
}

.section__library {
    width: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

