:host {
    display: flex;
    width: 27.22vw;
}

.navbar__container {
    background-color: #FDF1E9;
    width: 27.22vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
}

.navbar__logo {
    width: 14.03vw;
    height: 3.19vw;
    display: block;
    margin: 12px 0 110px 0;
}