<nav class="navbar__container">
    <img class="navbar__logo" src="./assets/img/logo-onclass.png" alt="Logo Onclass">
    <app-navbar-item [title]="'Inicio'" [src]="'./assets/img/icon-house.svg'"
    [alt]="'Icono de casa'" [route]="'/home'"></app-navbar-item>
    <app-navbar-item [title]="'Biblioteca'" [src]="'./assets/img/icon-library.svg'"
    [alt]="'Icono de biblioteca'" [route]="'/library'"></app-navbar-item>
</nav>
